
/* Style reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1, h2, h3, h4, h5, h6,
p, a, img,
form, label, legend,
table, tbody, tfoot, thead, tr, th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
li {
  line-height: 133%;
}
p {
  margin-top: 2ex;
  margin-bottom: 2ex;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/*************************************************************************
 * Some global definitions 
 */

body {
  background: #fff;
  line-height: 120%:
}

body, th, td {
  font-family: sans-serif;
  font-size: 15px;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.page,
.topbar_content {
  max-width: 1130px;
  margin: 0 auto;
}

table {
  margin-top: 1ex;
}

body, a {
  color: #000;
}

img {
  border: none;
}

table {
  border-collapse: collapse;
  border: none;
}

td, th {
  padding: 0.5ex 0.5em 0.5ex 0em;
}

td {
  vertical-align: top;
}

th {
  vertical-align: bottom;
  font-weight: bold;
}

a.active {
  color: #fff; 
}

.revoked {
  text-decoration: line-through;
}

.highlighted {
  background-color: #fa7;
  color: #000;
}

.admin_only {
  font-style: italic;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 125%;
}

.inline {
  display: inline;
}

/*************************************************************************
 * Notices, warnings and errors
 */

.layout_notice, .layout_error, .layout_warning {
  background: #fff;
  font-weight: bold;
  line-height: 1.7em;
  -moz-opacity:0.7;
}

.slot_notice, .slot_warning, .slot_error {
  padding-left: 1em;
}

.slot_notice {
  background-color: #cfc;
  color: #040;
}

.slot_warning {
  background-color: #fec;
  color: #420;
}

.slot_error {
  background-color: #fcc;
  color: #400;
}

/*************************************************************************
 * Navigation, search and language chooser bar 
 */

.topbar {
  background-color: #333;
  background-image: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%, #888), color-stop(25%,#333)
  );
  font-size: 90%;
  box-shadow: #aaa 0 0 5px;
  overflow: hidden;
  -mox-box-shadow: #aaa 0 0 5px;
  -webkit-box-shadow: #aaa 0 0 5px;
  border-top: 1px solid #333;
  line-height: 30px;

}

.topbar .logolf {
  margin-left: 1%;
  font-weight: bold;
}

.topbar a {
  color: #eee;
  line-height: 30px;
}

.topbar  a:hover {
  background-color: #eee;
  color: #000;
}

.navigation {
  background-color: #333;
  line-height: 200%;
}

.navigation img {
  margin-right: 0.5em;
  vertical-align: middle;
}

.navigation a {
  padding: 0 0.5em;
  float: left;
  display: block;
  white-space: nowrap;
}

form.unit_selector {
  display: inline;
}

.topbar .member_info {
  float: right;
  padding-right: 1%;
}

/*************************************************************************
 * Title of current page including path and actions
 */

.title,
.title2,
.actions {
  background-color: #f2f2f2;
  margin-left: 1%;
  margin-right: 1%;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.actions {
  border-bottom: 1px solid #bbb;
}

.initiative_head .actions {
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.slot_initiatives_list {
  margin-top: 1ex;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #fcfcfc;
  border-radius: 8px;
  clear: left;
  border: 1px solid #aaa;
  padding-top: 1ex;
  padding-bottom: 1ex;
}

.title {
  box-shadow: inset #888 0px 5px 6px -5px;
  -moz-box-shadow: inset #888 0px 5px 6px -5px;;
  -webkit-box-shadow: inset #888 0px 5px 6px -5px;;
}

.title {
  color: #000;
  padding: 1.5ex 1ex 0 1ex;
}

.title div {
  font-size: 125%;
  line-height: 110%;
}

.title a {
  color: #000;
}

.title .member_image {
  margin-right: 0.7em;
  vertical-align: middle;
  border-radius: 7px;
}

.slot_title2 {
  padding: 1ex 1ex 0 1ex;
}

.member_list .member_image_avatar {
  float: left;
  margin-right: 0.5em;
}

.micro_avatar {
  width: 24px;
  border-radius: 4px;
  vertical-align: middle;
}

.actions {
  font-size: 75%;
  line-height: 220%;
  padding-top: 2ex;
  padding-bottom: 1ex;
}

.actions {
  border-radius: 0 0 8px 8px;
}

.actions .interest,
.actions .delegation,
.actions a {
  margin-left: 1ex;
}

.actions a {
  margin-top: 1px;
  margin-bottom: 1px;
}

.actions .interest a,
.actions .delegation a {
  margin: 0;
}

.initiative_head .actions {
  background-color: #fff;
  margin: 0px;
}

.actions a {
  padding-right: 0.3em;
}

.slot_initiative_head  {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2ex;
}

.initiative_name {
  font-weight: bold;
  font-size: 125%;
}
.actions a {
  float: left;
}

.actions a:hover {
  background-color: #d7d7d7;
}

.actions img {
  padding-left: 0.2em;
  padding-right: 0.2em;
  vertical-align: middle;
}

.logo { 
  float: right;
  margin-right: 1%;
}


.member_image_photo {
  border-radius: 8px;
}

/*************************************************************************
 * vote info / delegation 
 */

.interest,
.slot_support,
.delegation {
  float: left;
  position: relative;
  z-index: 1;
}

.interest img,
.slot_support img,
.delegation img {
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.actions .supporter,
.actions .potential_supporter,
.vote_info .head {
  float: left;
}

.actions .supporter,
.actions .potential_supporter,
.actions .interest .head {
  padding-right: 0.3em;
}

.delegation .head_active,
.interest .head_active,
.actions .supporter,
.actions .potential_supporter {
  border-radius: 5px;
  border: 1px solid #5f6675;
}

.delegation .head_active,
.interest .head_active {
  background-color: #cdf;
}

.actions .supporter {
  background-color: #cdf;
}

.actions .potential_supporter {
  background-color: #cdf;
}

.slot_support .head_initiator {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.delegation .change_delegation {
  margin-bottom: 2ex;
}

.delegation .change_delegation a {
  display: inline;
  float: none;
  padding: 1ex;
}

.delegation .delegation_participation {
  margin-left: 20.5em;
  margin-top: 3ex;
  font-style: italic;
  font-size: 80%;
}

.slot_actions .change_delegation {
  float: left;
}

.vote_info .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1ex;
  display: block;
}

.vote_info .content {
  font-size: 133%;
  line-height: 100%;
  top: 2.8ex;
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #cdf;
  border-radius: 0 5px 5px 5px;
  padding: 1em;
  width: 35em;
  border: 1px solid #5f6675;
  border-top: none;
}

.delegation_arrow {
  vertical-align: middle;
}

.vote_info .delegation_arrow {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.vote_info .delegation_arrow_overridden {
  opacity: 0.4;
}

.vote_info .delegation_scope_overridden {
  color: #777;
}

.vote_info .delegation_scope {
  display: inline;
}

.vote_info .delegation_info {
}

.vote_info a {
  padding-right: 0;
}

.vote_info .member_thumb {
  clear: left;
  background: #fff;
}

.delegation_overridden .member_thumb {
  opacity: 0.4;
}

.delegation .revoke {
  margin: 0.5ex;
  float: right;
}

.delegation .revoke img {
  vertical-align: middle;
}


/*************************************************************************
 * Main content
 */

.main {
  margin-left: 1%;
  margin-right: 1%;
}

/*************************************************************************
 * ui.tab
 */

.ui_tabs_links {
  margin-top: 2ex;
  margin-bottom: 1ex;
}

.ui_tabs_links a {
  padding: 1ex;
  line-height: 300%;
  background-color: #f2f2f2;
  white-space: nowrap;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.ui_tabs_links a:hover {
  background-color: #d7d7d7;
}

.ui_tabs_links a.selected {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

.ui_tabs_links a.yellow {
  background-color: #fcc;
  color: #000;
}

.ui_tabs_links a.yellow:hover {
  background-color: #faa;
}

.ui_tabs_links a.yellow.selected {
  background-color: #a44;
  color: #fff;
  text-decoration: none;
  padding: 1ex;
}

.ui_tabs_links a.red {
  background-color: #c33;
  color: #000;
}

.ui_tabs_links a.red:hover {
  background-color: #ebb;
}

.ui_tabs_links a.red.selected {
  background-color: #644;
  color: #fff;
  text-decoration: none;
  padding: 1ex;
}


/*************************************************************************
 * ui.filters
 */

.ui_filter {
  overflow: hidden;
  margin-bottom: 1ex;
  margin-right: 1em;
}

.ui_filter_head {
  color: #777;
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
  font-size: 90%;
  font-weight: bold;
  float: left;
  line-height: 200%;
  margin-right: 2em;
}

.ui_filter_head a {
  color: #777;
  padding: 0.5ex;
}

.ui_filter_head a.active {
  color: #fff;
  background-color: #777;
  padding: 0.5ex;
  border-radius: 5px;
}

/*************************************************************************
 * ui.paginate
 */

.ui_paginate_head {
  display: none;
  margin-bottom: 1ex;
}

.ui_paginate_foot {
  margin-top: 1ex;
}

.ui_paginate_select a {
  padding: 0.5em;
}

/*************************************************************************
 * ui.bargraph
 */

.bargraph {
  width: 103px;
}

.bargraph50 {
  width: 52px;
}

.bargraph div {
  float: left;
  margin-top: 0.5ex;
  height: 1.3ex;
}

.bargraph .quorum {
  margin-top: 0.2ex;
  height: 1.9ex;
}

/*************************************************************************
 * vertical ui.form
 */

.vertical {
  margin-top: 2ex;
}

.login input[type=text],
.vertical input[type=text],
.login input[type=password],
.vertical input[type=password],
.vertical textarea,
.vertical select {
  font-family: sans-serif;
  font-size: 100%;
  width: 69%;
  border: 1px solid #444;
  padding: 0.2ex 0.2em 0.2ex 0.2em;
  margin-bottom: 1ex;
}



.login input[type=password],
.vertical input[type=password] {
  width: 16em;
}

.vertical select {
  padding-right: 0;
}

.login .ui_field_label,
.vertical .ui_field_label {
  text-transform: uppercase;
  font-size: 70%;
  line-height: 120%;
  font-weight: bold;
  color: #777;
  width: 29%;
  display: block;
  float: left;
  clear: left;
  text-align: right;
  padding-right: 0.5em;
}

.ui_field_label.label_right {
  text-align: left;
  width: auto;
}

.login input[type=text],
.login input[type=password] {
  width: 10em;
}

.login div,
.vertical div {
  clear: left;
}

.vertical span {
  display: block;
  margin-bottom: 0.5ex;
}

.vertical span:after {
  content: " ";
}

.vertical span span {
  display: inline;
  margin-bottom: 0;
}

.login input[type=submit],
.vertical input[type=submit] {
  font-size: 100%;
  margin-left: 29%;
  background-color: #444444;
  color: #fff;
  border: none;
  padding: 0.75ex;
}

.login input[type=submit]:hover,
.vertical input[type=submit]:hover {
  background-color: #444444;
}

@media screen and (max-width: 480px) {
  .login input[type=text],
  .vertical input[type=text],
  .login input[type=password],
  .vertical input[type=password],
  .vertical textarea,
  .vertical select,
  .vertical input[type=submit],
  .login input[type=submit] {
    width: 98%;
  }
  .login .ui_field_label,
  .vertical .ui_field_label {
    text-align: left;
    width: 98%;
  }
  .login input[type=text],
  .login input[type=password] {
    width: 98%;
  }
  .login input[type=submit],
  .vertical input[type=submit] {
    margin-left: 0;
  }
}



/*************************************************************************
 * Tables
 */


table a.action {
  font-size: 70%;
  line-height: 190%;
  padding: 0.5ex;
  color: #777;
}

table a.active {
  color: #fff; 
}

th {
  text-align: left;
}

tr:hover td {
  background-color: #f2f2f2;
}

.nohover tr:hover td {
  background-color: #fff;
}

.initiatives_list .nohover tr:hover td {
  background-color: #f2f2f2;
}

.nohover table tr:hover td {
  background-color: #f2f2f2;
}


tr table tr:hover td {
  background-color: #fff;
}


/*************************************************************************
 * Positive / Negtive votes
 */


.positive_votes span {
  display: inline;
}

.positive_votes {
  display: inline;
  background-color: #cfc;
  padding: 0.3ex 0.5em 0.3ex 0.5em;
}

.negative_votes span {
  display: inline;
}

.negative_votes {
  display: inline;
  background-color: #fcc;
  padding: 0.3ex 0.5em 0.3ex 0.5em;
}

.suggestion_my_opinion a,
.suggestion_my_opinion span {
  white-space: nowrap;
  padding-left: 0.2ex !important;
  padding-right: 0.2ex !important;
}

.active {
  background-color: #444;
  color: #fff;
}

.active_red2 { background-color: #a00; color: #fff !important; }
.active_red1 { background-color: #f88; color: #000 !important; }
.active_green1 { background-color: #8f8; color: #000 !important; }
.active_green2 { background-color: #0a0; color: #000 !important; }



/*************************************************************************
 * Unit list
 */

.unit_list a {
  font-weight: bold;
}

/*************************************************************************
 * Area list
 */

.member_area_list {
  margin-bottom: 0ex;
  border-radius: 8px;
  border: 1px solid #aaa;
  padding: 1ex;
  margin-bottom: 2ex;
}

.member_area_list .unit_head {
  font-size: 120%;
  font-weight: bold;
  float: left;
  clear: both;
}

.member_area_list .unit_delegatee {
  float: left;
}

.member_area_list .voting_priv_info {
  clear: left;
  margin-top: 4ex;
}

.member_area_list .more_areas {
  font-style: italic;
}

.area_list {
  margin-bottom: 4ex;
}

.member_area_list .area_list {
  margin-bottom: 0;
}

.area_list .area {
  line-height: 32px;
  clear: both;
}

.area_list .bargraph {
  line-height: 10px;
}

.area_list .area .delegatee {
  white-space: nowrap;
}

.area_list .area.head .phases {
  xmargin-top: 2ex;
}

.area_list .area img {
  vertical-align: middle;
}

.area_list .area .bar {
  float: left;
  padding-top: 6px
}

.area_list .area .membership,
.area_list .area .delegatee {
  display: inline;
  width: 24px
}

.area_list .area .name {
  display: inline;
  font-weight: bold;
}

.area_list .area .phases {
  float: right;
}

.area_list .area .phases div {
  float: left;
  width: 3em;
  text-align: right;
}

@media screen and (max-width: 480px) {
  .area_list .area .name {
    display: block;
    line-height: 100%;
  }
  
  .area_list .area .delegatee,
  .area_list .area .membership {
    float: left;
    white-space: nowrap;
  }
  .area_list .area .bar {
    display: none;
  }
}

/*************************************************************************
 * Events
 */

.events .date {
  font-size: 150%;
  font-weight: bold;
  margin-top: 2ex;
  line-height: 150%;
}

.event_list .event div {
}

.event_list .event .member_id {
  float: right;
}


/*************************************************************************
 * Issues
 */

.issues {
  clear: left;
}

.issues .issue {
  background-color: #fcfcfc;
  overflow: hidden;
  margin-bottom: 2ex;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.issues .issue.interested,
.issues .issue.interest_by_delegation {
  border: 1px solid #b2cdff;
}

.issues .issue .issue_info {
  padding: 1ex 1ex 0.3ex 1ex;
  line-height: 140%;
  margin-bottom: 1ex;
}

.issues .issue.interested .issue_info,
.issues .issue.interested_by_delegation .issue_info  {
  background-color: #dfeaff;
  background-image: linear-gradient(top, #dfeaff 0%, #fcfcfc 66%);
  background-image: -o-linear-gradient(top, #dfeaff 0%, #fcfcfc 66%);
  background-image: -moz-linear-gradient(top, #dfeaff 0%, #fcfcfc 66%);
  background-image: -webkit-linear-gradient(top, #dfeaff 50%, #fcfcfc 100%);
  background-image: -ms-linear-gradient(top, #dfeaff 0%, #fcfcfc 66%);
}

.event_list .event .issue_id,
.issues .issue .issue_info .issue_id {
  font-size: 125%;
}

.issues .issue .suggestion {
  margin-left: 1ex;
  margin-bottom: 1ex;
  font-weight: bold;
}

.issue_policy_info {
  font-style: italic;
}

.issue_policy_info .event_name {
  font-weight: bold;
}

.issue_policy_info img {
  vertical-align: middle;
}

.issues .issue .interest_by_delegation {
  float: right;
}

.issues .issue .initiative_list a {
  font-weight: bold;
}

.initiative {
  margin-left: 1ex;
  margin-bottom: 1ex;
  line-height: 50%;
}

.initiative .bar {
  margin-right: 0.3em;
}

.initiative .rank,
.initiative .bar,
.initiative .interest {
  float: left; 
  margin-right: 0.3em;
}

.initiative .interest {
  width: 16px;
  height: 16px;
  line-height: 100%;
}

.initiative .name {
  line-height: 130%;
  margin-left: 160px;
}

@media screen and (max-width: 480px) {
  .initiative .name {
    clear: left;
    margin-left: 0px;
  }
}


.issue_initiative_list a {
  font-weight: bold;
}

.more_initiatives_link {
  display: block;
  margin-left: 166px;
  font-style: italic;
  margin-bottom: 1ex;
}

.issues tr tr {
  border: none;
  background: none;
}

.initiative_link.selected {
  font-weight: bold;
}

x.initiative_link.supported {
  background-color: #cdf;
  border-radius: 5px;
}

x.initiative_link.potentially_supported {
  background-color: #cdf;
  border-radius: 5px;
}

.lang_chooser {
  float: right;
  margin-right: 0.5em;
}

.delegation_list_entry {
  margin-right: 2em;
  margin-bottom: 2ex;
  float: left;
  clear: left;
}

.delegation_list_entry .delegation_arrow {
  float: left;
}

.delegation_list_entry .delegation_scope {
  float: left;
  width: 25em;
}

.delegation_list_entry .delegation_scope a {
  display: block;
}

.member_list .member_thumb {
  float: left;
  margin-right: 1em;
  margin-bottom: 2ex;
}

.member_thumb {
  text-decoration: none;
  width: 14.5em;
  height: 48px;
  display: block;
  float: left;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
  padding: 2px;
}

.xmember_thumb a {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.member_thumb a:hover div {
  background-color: #444;
  color: #fff;
}

.member_thumb img {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border-radius: 7px;
}

.member_thumb .member_name {
  position: absolute;
  left: 56px;
  top: 2ex;
  font-size: 100%;
  width: 14em;
}

.member_thumb .flags {
  text-align: right;
  font-size: 75%;
}

.member_thumb .flags a,
.member_thumb .flags img {
  position: static;
  float: right;
  margin-left: 0.5em;
}

.member_thumb .flags .in_delegation_chain {
  font-weight: bold;
}

.member .right {
  float: right;
}

.member_thumb.not_accepted,
.member_thumb.not_informed {
  background: #fff;
}

.member_thumb.not_accepted .member_image,
.member_thumb.not_accepted .member_name,
.member_thumb.not_informed .member_image,
.member_thumb.not_informed .member_name {
  opacity: 0.4;
}

.member_thumb.in_delegation_chain {
  background-color: #cdf;
}

.member_statement,
.draft_content,
.suggestion_content {
  background-color: #f2f2f2;
  padding: 1ex;
  border-radius: 8px;
}

.member_statement {
  margin-right: 250px;
}

#suggestion_description {
  height: 15ex;
}

.diff {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 1ex;
}

.diff_added {
  background-color: #cfc;
  text-decoration: underline;
}

.diff_removed {
  background-color: #fcc;
  text-decoration: line-through;
}

.slot_issue_info {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  float: right;
  padding: 0.5ex;
  line-height: 130%;
  margin-right: 1em;
}

.issue_info label {
  float: left;
  width: 8em;
  text-transform: uppercase;
  font-size: 70%;
  color: #777;
  font-weight: bold;
  clear: left;
  text-align: right;
  margin-right: 0.7em;
}

.admitted_info {
  background-color: #dfd;
  padding: 1ex;
  border-radius: 8px;
}

.not_admitted_info,
.revoked_info {
  background-color: #fdd;
  padding: 1ex;
  border-radius: 8px;
}

.draft_updated_info,
.voting_active_info,
.initiator_invite_info,
.motd,
.public_access_issue_head {
  background-color: #fffbce;
  padding: 1ex;
  margin-top: 2ex;
  margin-bottom: 2ex;
  border-radius: 8px;
  border: 1px solid #ffe900;
}

.suggestion_fulfilled {
  width: 15em;
}
.suggestion_fulfilled a.action {
  padding-left: 0;
  line-height: 120%;
}

.help,
.use_terms {
  border-radius: 8px;
  border: 1px solid #ffe900;
  background-color: #fffbce;
  color: #000;
  padding: 1ex;
}

.help_visible {
  margin-top: 2ex;
  margin-bottom: 1ex;
}

.help_visible .help_icon {
  float: right;
}

.slot_help_hidden {
  float: right;
  margin-right: 1em;
  margin-top: 1ex;
}

.help_actions {
  font-size: 75%;
  float: right;
}

.help_actions a {
  margin-right: 1em;
  color: #468;
}

.wiki {
  line-height: 133%;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4 {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.wiki h1 {
  font-size: 150%;
  font-weight: bold;
}

.wiki h2 {
  font-size: 125%;
  font-weight: bold;
}

.wiki h3 {
  font-size: 125%;
}

.wiki h4 {
  font-size: 100%;
  font-weight: bold;
}

.wiki p {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

form .warning {
  background-color: #ffd;
  color: #000;
  border: 1px solid #dda;
  margin: 1ex;
  margin-bottom: 2ex;
  padding: 1ex;
}

a.not_voted {
  display: block;
  background-color: #fec;
  color: #000;
}

.action_active {
  background-color: #fec;
}

.heading {
  display: block;
  font-size: 120%;
  font-weight: bold;
}

.heading.first {
  margin-top: 0;
}

.menu_list li {
  padding-top: 1ex;
  padding-bottom: 1ex;
}

.deactivated_member_info {
  background-color: #a00;
  color: #fff;
}

/*************************************************************************
 * Voting
 */

#voting_form {
  margin-top: 20px;
}

#voting {
  position: relative;
}

#voting .approval, .abstention, .disapproval {
  border: 2px black solid;
  margin-top:   2ex;
  margin-bottom: 5ex;
  padding: 1ex;
  padding-bottom: 2ex;
  border-radius: 8px;
}
#voting .approval {
  background-color: #9f9;
}
#voting .approval .movable {
  background-color: #dfd;
}
#voting .abstention {
  background-color: #ccc;
}
#voting .abstention .movable {
  background-color: #f2f2f2;
}
#voting .disapproval {
  background-color: #f88;
}
#voting .disapproval .movable {
  background-color: #fbb;
}
#voting .cathead {
  font-weight: bold;
}
#voting .movable {
  position: relative;
  border: 1px black solid;
  margin-top: 1ex;
  padding: 0.5ex;
  border-radius: 8px;
}
#voting .voting_form_active .movable {
  cursor: pointer;
}
#voting .voting_form_active .clickable {
  cursor: auto;
}
#voting .voting_form_active a.clickable {
  cursor: pointer;
}

#voting .grabber {
  vertical-align: middle;
  cursor: move;
}

/*************************************************************************
 * timeline
 */
div.ignore_area_list {
  float: left; 
  width: 90%; 
  margin: 0 0 1em 0;
}

div.ignore_area_list > 
label.ui_field_label {
  text-align: left ;
  width: 100%;
  border-bottom:1px solid #000000;
  color: #000000;
  font-size:75%;
  font-weight:bold;
  vertical-align:bottom;
  text-transform:none;
  padding:0.5ex 0.5em
}

div.ignore_area_item {
  clear: none;
  float: left; 
  min-width: 10em;
  margin: 0.1ex 0.5em;
  margin-right: 0.5em;
}

div.ignore_area_item > input {
  float: none;
  clear: none;
  display: inline;
}

div.ignore_area_item >
label.ui_field_label {
  float: none;
  clear: none;
  text-align: left;
  display: inline;
}

div.timeline_results {
  clear: both;
}

/* shadows */

.box,
.slot_initiative_head {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 1ex;
}

.member_area_list .box {
  border: none;
  padding: 0;
}

.slot_initiatives_list,
.actions,
.issues .issue,
.ui_tabs_links a,
.draft_content,
.help,
.use_terms,
.motd,
.ui_filter a.active,
.vote_info .content,
.member_area_list,
.box,
.slot_initiative_head {
  box-shadow: #777 0px 5px 5px -5px;
  -mox-box-shadow: #777 0px 5px 5px -5px;
  -webkit-box-shadow: #777 0px 5px 5px -5px;
}

.member_area_list .box {
  box-shadow: none;
  -mox-box-shadow: none;
  -webkit-box-shadow: none;
}

.slot_footer {
  margin: 0 1%;
  border-top: 1px solid #ccc;
  padding: 1ex;
  font-size: 80%;
  text-align: center;
}
.slot_footer,
.slot_footer a {
  color: #666;
}

.footer {
  margin: 0 auto;
  max-width: 1130px;
}
